.dashboard {
    display: flex;
    flex-direction: row;
}

.products {
    background-color: rgb(82, 153, 247);
    border-radius: 25px;
    margin: 1%;
}

.freespace {
    background-color: rgb(82, 153, 247);
    border-radius: 25px;
    margin: 1%;
    padding:5%;
    height: 80%;
    font-size: 500%;
    text-shadow: 3px 3px #000000;
    color: white;
    text-align: center;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}



