body {
    font-family: 'Helvetica';
  }
  
  a {
    text-decoration: none;
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
  .row.center {
    align-items: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
 
  .text-right {
    text-align: right;
  }

  .billrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
  }

  .billcol {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: space-around;
  }

  .billcol1 {
    height: 70px;
  }
  .billcol2 {
    height: 80px;
  }
